@import 'fonts';
@import 'normalize';
@import 'variables';
@import 'mixins/class-helper';
@import 'mixins';

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom: 90px;
}

* {
  @include box-sizing(border-box);
}

.cfx:after {
  display: table;
  clear: both;
  content: '';
}

.input-row {
  label {
    margin-right: 10px;
    display: block;
    float: left;
  }
  
  input  {
    margin-right: 10px;
    background: $dark_color;
    color: $white_color;
    border: none;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    display: block;
    float: left;
    width:30%;
  }
  
  button {
    height: 30px;
    border: 1px solid #09400D;
    background: $highlight;
    color: $white_color;
    line-height: 28px;
    outline: none;
    cursor: pointer;
    display: block;
    float: left;
  }
  
}

.fade-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
}

.fade-appear {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.fade-appear.fade-appear-active {
    opacity: 1;
}