@import 'variables';

.playlists--bulk {
  margin-top: 20px;
  display: none;
  
  &.active {
    display: block;
  }
  
  .plss {
    border: 1px solid $dark_color;
    border-bottom: none;
    
    &:nth-child(odd) {
      background: #FFF4E4;
    }
    
    &:last-child {
      border-bottom: 1px solid $dark_color;
    }
    
    &--headingrow {
      background: $dark_color;
      color: $white_color;
      
      & > * {
        padding: 4px 10px;
      }
    }
    
    & > * {
      padding: 4px 10px;
    }
    
    &--id {
      float: left;
      width: 15%;
    }
    
    &--title {
      float: left;
      width: 40%;
      border-left: 1px solid $dark_color;
      border-right: 1px solid $dark_color;
    }
    
    &--count {
      float: left;
      width: 15%;
    }
    
    &--actions {
      width: 30%;
      float: left;
      border-left: 1px solid $dark_color;
    }
    
    &--action {      
      display: inline-block;
      margin-right: 4%;
      cursor: pointer;
      
      &:hover {
        text-decoration: underline;
      }
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .tracklist {
    display: none;
    border-top: 1px solid #000;
    margin-top: -4px;
    box-shadow: inset 2px 2px 8px 0px rgba(0,0,0,0.4);
    
    &.active {
      display: block;
    }
    
    &--heading {
      margin-bottom: 20px;
      font-size: 19px;
    }
    
    .plstrack {
      display: flex;
      border: 1px dashed $dark_color;
      border-bottom: none;
      font-size: 16px;
      padding: 2px 4px;
      
      &:last-child {
        border-bottom: 1px dashed $dark_color;
      }
      
      &:hover {
        background: #FFE1D2;
      }
      
      .counter {
        padding-right: 4px;
        border-right: 1px dashed $dark_color;
        margin-right: 4px;
      }
      
      &--title {
        flex-grow: 2;
      }
      
      &--actions {
        width: 30%;
        display: flex;
        
        > div {
          flex-grow: 1;
          cursor: pointer;
          
          &.remove {
            color: #FB1D1D;
          }
          
          &:hover {
            text-decoration: underline;
          }
        }        
      }     
      
    }
  }
  
}