@import 'variables';

.appTracks {
  position: fixed;
      overflow-y: auto;
  right: 0;
  top: 0;
  bottom: 45px;
  width: 33%;
  background: #fff;
  box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.7);  
  transition: all 200ms ease-Out;
  transform: translateX(100%);
  
  &.active {    
    transform: translateX(0);
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin: 3% 0;
  }
  
  .btn {
    display: inline-block;
    margin-left: 23px;
    border: 1px solid #000;
    padding: 2px 9px;
    cursor: pointer;
    transition: all 200ms ease-Out;
    
    &:hover {
      background: #000;
      color: #fff;      
    }    
    &.downloadAll {
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
  
  &--bulk {
    margin-top: 3%;  
    
    .track {
      border: 1px solid $dark_color;
      border-bottom: none;
      display: flex;
      font-size: 14px;
      
      animation: moveIn 200ms ease-out;
      @keyframes moveIn {
        from {
          transform: translateX(-50px) rotateZ(-20deg);
          opacity: 0.01;
        }
        to {
          transform: translateX(0px) rotateZ(0deg);
          opacity: 1;
        }
      }

      &:nth-child(odd) {
        background: #FFF4E4;
      }

      &:last-child {
        border-bottom: 1px solid $dark_color;
      }

      &.headingrow {
        background: $dark_color;
        color: $white_color;

        & > * {
          padding: 4px 10px;
        }
      }

      & > * {
        padding: 4px 10px;
      }

      &--id {
        width: 15%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;        
      }

      &--title {        
        border-left: 1px solid $dark_color;
        border-right: 1px solid $dark_color;
        width: 45%;
      }

      &--actions {
        width: 40%;
      }

      &--action {      
        display: inline-block;
        margin-right: 4%;
        cursor: pointer;
        
        &:hover {
          text-decoration: underline;
        }

        &:last-child {
          margin-right: 0;
        }
        
        &.remove {
          color: $error_color;
        }
      }
    } 
    
  }
}