@import 'variables';

.appTracks {
  
  &.active {
    display: block;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin: 3% 0;
  }
  
  &--bulk {
    margin-top: 3%;  
    
    .track {
      border: 1px solid $dark_color;
      border-bottom: none;
      display: flex;

      &:nth-child(odd) {
        background: #FFF4E4;
      }

      &:last-child {
        border-bottom: 1px solid $dark_color;
      }

      &.headingrow {
        background: $dark_color;
        color: $white_color;

        & > * {
          padding: 4px 10px;
        }
      }

      & > * {
        padding: 4px 10px;
      }

      &--id {
        width: 10%;
      }

      &--title {        
        border-left: 1px solid $dark_color;
        border-right: 1px solid $dark_color;
        flex-grow: 2;
      }

      &--actions {
        width: 30%;
      }

      &--action {      
        display: inline-block;
        margin-right: 4%;

        &:last-child {
          margin-right: 0;
        }
      }
    } 
    
  }
}