@import 'variables';

.appTracks {
  position: fixed;
      overflow-y: auto;
  right: 0;
  top: 0;
  bottom: 45px;
  width: 33%;
  background: #fff;
  box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.7);
  transition: all 200ms ease-Out;
  transform: translateX(100%);

  &.active {
    transform: translateX(0);
  }

  h1 {
    text-align: center;
    font-size: 24px;
    margin: 3% 0;
  }

  .inputrow {
    padding: 0 2%;

    > span {
      margin-right: 5px;
    }
  }

  .btn {
    display: inline-block;
    margin-left: 23px;
    cursor: pointer;
    transition: all 200ms ease-Out;


    &.downloadAll {
      background-image: url('../images/download.svg');
      background-repeat: no-repeat;
      display: none;
      text-indent: -9999px;
      -webkit-background-size: 28px;
      background-size: 28px;
      width: 28px;
      line-height: 28px;

      &:hover {
        transform: scale(1.2,1.2);
      }

      &.active {
        display: inline-block;
      }
    }
  }

  &--bulk.sidebar {
    .track {
      &--actions {
        width: 20%;
      }
    }
  }

  &--bulk {
    margin-top: 3%;

    .track {
      border: 1px solid $dark_color;
      border-bottom: none;
      display: flex;
      font-size: 16px;

      animation: moveIn 200ms ease-out;
      @keyframes moveIn {
        from {
          transform: translateX(-50px) rotateZ(-20deg);
          opacity: 0.01;
        }
        to {
          transform: translateX(0px) rotateZ(0deg);
          opacity: 1;
        }
      }

      &:nth-child(odd) {
        background: #FFF4E4;
      }

      &:last-child {
        border-bottom: 1px solid $dark_color;
      }

      &.headingrow {
        background: $dark_color;
        color: $white_color;

        & > * {
          padding: 4px 10px;
        }
      }

      & > * {
        padding: 4px 10px;
      }

      &--title {
        border-left: 1px solid $dark_color;
        border-right: 1px solid $dark_color;
        width: 90%;
      }

      &--actions {
        width: 14%;
      }

      &--action {
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
        line-height: 20px;
        width: 20px;
        text-indent: -9999px;
        background-repeat: no-repeat;
        -webkit-background-size: 20px;
        background-size: 20px;
        transition: all 200ms ease;

        &:hover {
          transform: scale(1.2,1.2);
        }


        &.dl {
          background-image: url('../images/download.svg');
        }

        &:last-child {
          margin-right: 0;
        }

        &.add {
          background-image: url('../images/save.svg');
        }

        &.remove {
          background-image: url('../images/delete.svg');
        }
      }
    }

  }
}
